bin/
obj/
out/
src/Opener/ms-playwright/


*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs


project.lock.json
project.fragment.lock.json
artifacts/


*.deps.json
*.runtimeconfig.json
*.runtimeconfig.dev.json


.vscode/
.history/


.idea/
*.sln.iml

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.nuspec
*.psmdcp


.scm/


*.log

_ReSharper*/
*.resharper
*.DotSettings.user
*.vs/
TestResults/
nunit-*.xml

*.tmp
*.bak
*.swp
*.orig


.env
.env.*
